.profile-img {
    color: #7d7d7d;
    font-size: 75px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

.profile .name {
    font-weight: bold;
}

.edit-profile {
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.image-container {
    text-align: center;
}
.image-container img {
    width: 100%;
    max-width: 300px;
}
.carousel-inner{
    max-height: 350px;
}
img{
    max-height: 350px;
}
.white{
    text-align: center;
}